.wrapper {
	width: 100%;
	height: max-content;
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid var(--border);
	padding: 8px;
}
.header {
	width: 100%;
	height: 48px;
	align-items: center;
	display: flex;
	justify-content: space-between;
}
.desc {
	width: 100%;
}
.main {
}
.child {
	padding: 0px 32px 0px 80px;
}
