.wrapper {
	min-height: 300px;
	width: 100%;
	padding: 0px 4px;
	height: 100%;
}
.loading {
	min-width: 260px;
	height: 320px;
	border-radius: 0px 0px 15px 15px;
	background-color: white;
	border: 1px solid var(--primaryDark);
}
.search-bar {
	margin-bottom: 4px;
	background-color: white;
}
.full-screen {
	height: 80vh;
}
.add-category {
	height: 48px;
	width: 100%;
	padding: 8px;
	display: flex;
	align-content: center;
	justify-content: flex-end;
	.btn-add {
		padding: 0px 4px;
		* {
			font-size: 16px;
			font-weight: 500;
		}
	}
}
