.btn-add-to-favorite:hover{
    .btn-add-to-favorite-img{
        //content: url('http://localhost:3000/assets/icons/ic-active-favorite.png')
    }
    img{
        transition-duration: 0.4s;
    }
}
@media only screen and (max-width:600px ) {
    .btn-add-to-favorite{
        font-size: 12px !important;
        margin-left: 2px !important;
        width: 160px !important;
    }
}