.title{
    font-family: 'MontserratBold';
    font-size: 48px;
    color: var(--Orange);
    margin-left: 48px;
    margin-top: 48px;
}
.homepage-banner{
    width: 100%;
    height: 500px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;
    margin-top: 32px;
}

@media only screen and (max-width:600px ) {
    .homepage-banner{
        height: 240px;
    }
}