.wrapper {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.title,
.old-value,
.to,
.new-value {
	margin: auto 0px;
}
.title {
	text-align: center;
	width: max-content;
	max-width: 30%;
}

.old-value,
.new-value {
	padding-left: 4px;
}
.normal {
	max-width: 35%;
}
.max {
	width: 55%;
}
.min {
	text-align: center;
	width: 10%;
}
.icon {
	height: 24px;
}
.title.max {
	color: var(--enable);
	max-width: 90%;
	width: 90%;
	text-align: left;
}
.new-value {
	color: var(--enable);
}
