.book-item{
    width: 100%;
}
.books-container{
    margin-left: 48px;
    margin-right: 48px;
    margin-top: 48px;
}

$card-width: 296px;
$rowIncrement: 10px;
.pin_container {
    margin-top: 0;
    padding: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, $card-width);
    grid-auto-rows: $rowIncrement;
    justify-content: center;
}



@media only screen and (max-width:600px ) {
    .book-item{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
}