.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-width: 100px;
	padding: 8px 16px;
	border-radius: 4px;
	font-size: 1rem;
	font-weight: 700;
	cursor: pointer;
	background-color: var(--white);
	border: 1px solid transparent;
	user-select: none;
	&.disable {
		pointer-events: none;
		border: 1px solid #999999;
		background-color: #cccccc;
		color: #666666;
	}
}

// Button types
.primary {
	color: var(--white);
	background-color: var(--primary);
	&.hover {
		background: var(--border);
	}
}
.rounded {
	border-radius: 999px;
	box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
	border-color: rgba(22, 24, 35, 0.12);
	&.hover {
		border-color: rgba(22, 24, 35, 0.12);
	}
}

.outline {
	color: var(--primary);
	border-color: currentColor;
}

.text {
	&:hover {
		text-decoration: underline;
	}
}

.icon + .title,
.title + .icon {
	margin-left: 8px;
}
// size

.small {
	font-size: 0.8rem;
	font-weight: 300;
	min-width: 88px;
	padding: 4px 16px;
}

.large {
	padding: 14px 16px;
	min-width: 144px;
}
button:disabled,
button[disabled] {
	border: 1px solid #999999;
	background-color: #cccccc;
	color: #666666;
}
.icon {
	display: flex;
	align-content: flex-end;
}
