.body-tab {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	min-width: 800px;
}
.header-tab-role {
	width: 100%;
	height: 48px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 16px;
}
.role-name {
	font-size: 20px;
	font-weight: 600;
}
.tab-basic {
	margin-top: 16px;
	padding: 16px;
	width: 80%;
	display: flex;
	flex-direction: column;
	gap: 16px;
}
.tab-panel {
	padding: 0px !important;
	height: 95%;
}
.content,
.permissions {
	padding: 32px 16px;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	background-color: rgb(255, 255, 255);
}
.permissions {
	flex-direction: column;
}
.btn-change {
	position: fixed;
	bottom: 24px;
	right: 24px;
}
