.wrapper {
	padding: 16px 16px;
	width: auto;
	height: var(--vertical-navbar);
	display: flex;
	align-items: center;
	justify-content: space-between;
	-webkit-box-shadow: var(--wk-box-shadow);
	box-shadow: var(--box-shadow);
	background-color: white;
}

.avatar {
	width: 30px;
	height: 30px;
	border-radius: 50%;
}
.left {
	width: 84px;
	display: flex;
	align-items: center;
}
