.dialog {
	width: 800px !important;
}
.wrapper {
	display: flex;
	flex-direction: column;
	padding: 32px;
	gap: 16px;
}
.division {
	display: flex;
	gap: 16px;
}
.title-address,
.value-address {
	font-size: 16px;
}
