
 
.content{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .container{
        float: 6;
    }
}

.appGlass{
    display: grid;
    height: 98%;
    width: 98%;
    overflow: hidden;
    grid-template-columns: 11rem auto;
}
