.wrapper {
	margin-top: 32px;
	--space: 32px;
	min-width: 850px;
	max-width: 1280px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: calc(var(--space) * 1);
}

.critical-information,
.details,
.descNImage {
	width: 100%;
	padding: 4px (var(--space)) !important;
	margin-bottom: 16px;
	display: flex;
	flex-direction: column;
	gap: var(--space);
	.name {
		width: 100%;
	}
}
.code,
.writer,
.wrapper-status,
.wrapper-box,
.properties-book,
.producer,
.dimension,
.row {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	flex: 3;
	gap: calc(var(--space));
	.status,
	.publisher {
		flex-grow: 1;
	}
	.colum {
		width: 33.33%;
	}

	.dateNCount,
	.publish-date {
		flex-grow: 3;
	}
}
.wrapper-status {
	align-items: center;
}
